/* Este é um comentario em css*/

/* Quais tags podem ser seletores CSS3 : */

/*
-Tag
-Class
-ID
-Atributo
-Pseudo-classe
-Pseudo-elemento
*/


/*Tag*/

#cabecalho{
    background-color: blue;
}

a{
    color: black;
}

#titulos{
    font-family: 'Times New Roman', Times, serif;
}

#menu{
    font-weight:bold;
}

.container{
    width: 90%;
    height: 100%;
    border: 2px solid #000;
    margin:0 auto;
    padding: 20px;
}

#conteudo{
    line-height: 1.5;
}

form{
    border: solid gray 1px;
    padding: 10px;
}

p{
    color: green;
}

form button{
    background-color: blue;
    color :white;
}

.rodape{
    margin-top: 2px;
    border-top: solid red;
}

