/* Este é um comentario em css*/

/* Quais tags podem ser seletores CSS3 : */

/*
-Tag
-Class
-ID
-Atributo
-Pseudo-classe
-Pseudo-elemento
*/


/*Tag*/

h1 {
    color: #09af17
}

.link {
    color: #09af17
}

ul .link {
    display: inline;
    color: #e90909;
    border: 2px solid #e90909;
    margin:0 3% ;
 
    /*Nesting links*/
    a{
        text-decoration: none;
        color:#0e2ddd

    }


}

#menu ul{
    text-align: center
    Letter-spacing 2px;

}




/*ID*/

#container {
    width:80% ;
    height: 100%;
    margin: 0 auto;
}